 <div class="container container-bg">
    <div class="row">
      {{!-- <div class="row">
         <div class="col-sm-2 mt-4">
          {{!-- <a class="btn btn-secondary" role="button" id="home-btn">Back</a> --}}
        </div> 
      </div> --}}
      <div class="{{!-- col-md-5 offset-md-3  --}}col-lg d-flex justify-content-center">
        <form id="cms" class="post-container post-form">
          <div class="form-group">
            <label for="User" class="pt-3">Username:</label>
            <input type="text" class="form-control" id="user" required="required">
            <br/>
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" required="required">
            <br/>
            <label for="post-body">Post:</label>
            <textarea class="form-control" rows="10" id="post-body" required="required" placeholder="Your post is limited to 10 lines."></textarea>
            <div class="form-group">
              <label for="category" class="pt-3">Select Category:</label>
              <select class="custom-select" id="category">
                <option value="Personal">Personal</option>
                <option value="Product Review">Product</option>
                <option value="Political">Political</option>
              </select>
            </div>
            <br />
            <a class="btn btn-lg btn-secondary" role="button" id="home-btn">Back</a>
            <button type="submit" class="btn btn-success submit btn-lg float-right" id="submit-btn">Submit</button>
            
          </div>
        </form>
      </div>
    </div>
  </div>