
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="form-group">
          <select class="custom-select" id="category">
            <option selected value="">All Categories</option>
            <option value="Personal">Personal</option>
            <option value="Product Review">Product Review</option>
            <option value="Political">Political</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <a class="btn btn-secondary" href="addpost.html">New Post</a>
      </div>
    </div>
  </div>
<div class="container d-flex flex-row">

  {{#each}}
    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title">Post Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Post Category</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="d-flex justify-content-around align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Dislike</button>
          </div>
          <small class="text-muted">User</small>
        </div>
      </div>
    </div>
  {{/each}}
</div>
  
